**/obj/**
*.ncrunchsolution.user
**/.vs
**/bin/**
*.csproj.user

**/*.ncrunchsolution*
**/*.ncrunchproject*
**/*_NCrunch_*
**/*nCrunch*
**/nCrunch*
**/*.crunchsolution.cache
*.crunchsolution.cache

**/TestOutput*/**
*/GitExtensions.settings

*.vscode
.vscode/**

**/nuget-packages/*

.idea/**
